.error {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #f5f7fa;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    h1:first-of-type {
        font-size: 80px;
        font-weight: bold;
        color: #ff4d4f;
        margin: 0;
    }

    h1:last-of-type {
        font-size: 28px;
        color: #333;
        margin: 10px 0;
    }

    p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }

    &__image {
        width: 300px;
        margin-bottom: 20px;
    }
     .backButton {
        padding: 10px 20px;
        background-color: #ff4d4f;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s;
    }

    &__back:hover {
        background-color: #d9363e;
    }
}